body {
    display: flex;
    flex-direction: column;
}

.headercontainer {
    display: flex;
    flex-direction: column;
}

img {
    height: auto;
    width: 400px;
}
.info img {
    height: auto;
    width:200px;
}